<div class="ui-g">
  <div class="content-section introduction">
    <div>
      <span class="feature-title">Top Factoids</span>
    </div>
  </div>
    
  <p-dataTable [value]="factoids" class="ui-g-12">
    <p-column field="item" header="Factoid" [style]="{'overflow':'hidden','width':'20%'}"></p-column>
    <p-column field="value" header="Value" [style]="{'overflow':'auto', 'width':'70%'}" ></p-column>
    <p-column field="count" header="# of references" [style]="{'overflow':'hidden','width':'10%'}"></p-column>
  </p-dataTable>
</div>
  