<div class="ui-g">
  <div class="content-section introduction">
    <div>
      <span class="feature-title">Commands</span>
      <span>Interacting with GThx</span>
    </div>
  </div>
  
  <p-panel header="Getting a factoid">
    <div class="instructions">
      To get a factoid, just type the name of a factoid with a
      question mark or exclaimation point at the end:
    </div>
    <div class="example">filament?</div>
  </p-panel>

  <p-panel header="Setting a factoid">
    <div class="instructions">
      To set a factoid, address gthx directly and
      type the name of a factoid, the keywords "is" or "are",
      and the value to set:
    </div>
    <div class="example">gthx: filament is meltable plastic used as raw material to your printer.</div>
  </p-panel>
</div>
