<div class="ui-g">
  <div class="content-section introduction">
    <div>
      <span class="feature-title">Commands</span>
      <span>Interacting with GThx</span>
    </div>
  </div>
  
  <div class="ui-g ui-g-12">
    <p-panel header="Set a factoid" [toggleable]="true" class="example-panel">
      <div class="instructions">
        To set a factoid, address gthx directly and
        type the name of a factoid, the keywords "is" or "are",
        and the value to set. If the command works correctly, gthx
        replies with "Okay."
      </div>
      <div class="example">
        <span class="command">gthx: filament is meltable plastic used as raw material to your printer.</span>
        <span class="response">you: Okay.</span>
      </div>
    </p-panel>

    <p-panel header="Get a factoid" [toggleable]="true" class="example-panel">
      <div class="instructions">
        To get a factoid, just type the name of a factoid with a
        question mark or exclaimation point at the end:
      </div>
      <div class="example">
        <span class="command">filament?</span>
        <span class="response">filament is meltable plastic used as raw material to your printer.</span>
      </div>
    </p-panel>

    <p-panel header="Add to a factoid" [toggleable]="true" class="example-panel">
      <div class="instructions">
        Add to a factoid by using the 'also' keyword when setting a factoid:
      </div>
      <div class="example">
        <span class="command">cake?</span>
        <span class="response">cake is delicious</span>
        <span class="command">gthx: cake is also a lie</span>
        <span class="response">you: Okay.</span>
        <span class="command">cake?</span>
        <span class="response">cake is delicious and is also a lie</span>
      </div>
    </p-panel>

    <p-panel header="Forget a factoid" [toggleable]="true" class="example-panel">
      <div class="instructions">
        To delete a factoid, use the forget command. Gthx then replies
        to let you know whether or not it was successful:
      </div>
      <div class="example">
        <span class="command">forget filament</span>
        <span class="response">you: I've forgotten about filament</span>
      </div>
    </p-panel>
  
    <p-panel header="Use special factoid fields" [toggleable]="true" class="example-panel">
      <div class="instructions">
        Factoids that start with a &lt;reply&gt; tag cause gthx
        to reply without using the name of the factoid:
      </div>
      <div class="example">
        <span class="command">gthx: pics is &lt;reply&gt;Pics or it didn't happen!</span>
        <span class="response">you: Okay.</span>
        <span class="command">pics?</span>
        <span class="response">Pics or it didn't happen!</span>
      </div>
      <div class="instructions">
        The tag !who in a factoid is replaced with the nick of the
        person who triggered the factoid query:
      </div>
      <div class="example">
        <span class="command">gthx: hello is &lt;reply&gt;Hello, !who!</span>
        <span class="response">you: Okay.</span>
        <span class="command">hello?</span>
        <span class="response">Hello, you!</span>
      </div>
    </p-panel>

    <p-panel header="Save a message for a user" [toggleable]="true" class="example-panel">
      <div class="instructions">
        To save a message for a user the next time they're seen online, directly
        address gthx and use the tell command:
      </div>
      <div class="example">
        <span class="command">gthx: tell gunnbr I finished that design for you.</span>
        <span class="response">you: I'll pass that on when gunnbr is around.</span>
      </div>
    </p-panel>
  
    <p-panel header="Retrieve a message" [toggleable]="true" class="example-panel">
      <div class="instructions">
        Retrieving a message happens automatically the next time a message with a
        waiting message says something:
      </div>
      <div class="example">
        <span class="command">Hello, everyone.</span>
        <span class="response">you: 2 hours, 15 minutes, 50 seconds ago &lt;gunnbr&gt; tell you I got the webpage updated.</span>
      </div>
    </p-panel>

    <p-panel header="Search for a user" [toggleable]="true" class="example-panel">
      <div class="instructions">
        Find when a user last spoke by using the 'seen' command:
      </div>
      <div class="example">
        <span class="command">seen gunnbr?</span>
        <span class="response">gunnbr was last seen in #reprap 1 hour, 13 minutes, and 12 seconds ago saying 'I have to fix some things on the website.'.</span>
      </div>
      <div class="instructions">
        An asterisk can be used to match partial nicks:
      </div>
      <div class="example">
        <span class="command">seen gunn*</span>
        <span class="response">gunnbr was last seen in #reprap 1 hour, 13 minutes, 12 seconds ago saying 'I have to fix some things on the website.'.</span>
        <span class="response">gunner was last seen in #reprap 3 days, 4 hours, 36 minutes, 21 seconds ago saying 'How can I fix my printer?'.</span>
        <span class="response">gunnbr_ was last seen in #reprap 207 days, 8 hours, 45 minutes, 31 seconds ago saying 'Ugh. The website crashed again.'.</span>
      </div>
    </p-panel>


  </div>
</div>
