#header {
  font-family: Roboto,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-weight: 400;
  height: 64px;
  position: fixed;
  top: 0px;
  z-index: 99;
  width: 100%;
  padding: 0;
  background-color: #20272a;
  color: #fff;
  display: block;
  box-sizing: border-box;
  left: 0;
  z-index: 9997;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);

  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: background-color .3s;
  min-width: 120px;
  box-sizing: border-box;
  line-height: 64px;
  font-size: 1em;
}

.header-title{ 
  margin-left: 70px;
  padding: 0;
  font-size: 48px;
  font-style: italic;
  color: #93C7EF;
  color: #CCE9F9;
}

#top-logo {
  height: 64px;
  position: fixed;
  top: 0px;
  left: 0px;
}
  
#notifications {
  color: blue;
  float: right;
}

#sidenav, #sidenav-mini {
  height: calc(100% - 64px);
  position: fixed;
  left: 0px;
  top: 63px;
  padding-left: 0px;
}

#sidenav {
  width:195px;
}

#sidenav-mini {
  width:40px;
}

#content-body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Roboto,Trebuchet MS,Arial,Helvetica,sans-serif;
  font-weight: 400;

  padding-top: 64px;
  margin:0px;
  position: absolute;
  left: 200px;
  top: 0px;
}

#sidegutter {
  width: 200px;
}

#minigutter {
  width:40px;
  display:none;
}

.loginError {
  color: red;
  font-style: italic;
}
/*

@media screen and (min-width: 40.063em) {
*/

@media only screen and (max-width: 1000px) {
  #sidegutter {
    display: none;
  }

  #minigutter {
    display: block;
  }

  #content-body {
    left: 40px;
  }  
}
  
/*
@media only screen and (max-width: 40em) {
*/
@media only screen and (max-width: 400px) {
  #sidegutter {
    display: none;
  }

  #minigutter {
    display: block;
  }
}
