<div class="ui-g ui-g-nopad" id="header">
  <div class="ui-g-6">
    <img src="assets/robot64.png" id="top-logo"/>
    <div class="header-title">
      GThx
    </div>
  </div>
  <div class="ui-g-6">
    <div class="top-menu">
      <ul>
        <li><a routerLink="/register"><button label="Register" pButton type="button" icon="fa-gear" iconPos="left"></button></a></li>
        <li><button pButton type="button" label="Login" icon="fa-sign-in" iconPos="left"></button></li>
      </ul>
    </div>
  </div>
</div>

<div class="ui-g ui-g-nopad">
  <div class="ui-g-2 ui-g-nopad" id="sidegutter">
    <div id="sidenav">
      <p-menu #bigMenu [model]="menuItems"></p-menu>
    </div>
  </div>
  
  <div class="ui-g-2 ui-g-nopad" id="minigutter">
    <div id="sidenav-mini">
      <p-menu #smallMenu [model]="miniMenuItems"></p-menu>
    </div>
  </div>
  
  <div id="content-body" class="ui-g-10 ui-g-nopad">
    <router-outlet></router-outlet>
    <hr>
    Robot icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
</div>
