<div class="ui-g ui-g-nopad" id="header">
  <div class="ui-g-6">
    <img src="assets/robot64.png" id="top-logo"/>
    <div class="header-title">
      GThx
    </div>
  </div>
  <div class="ui-g-6">
    <div class="top-menu">
      <ul>
        <li *ngIf="!authService.isAuthenticated"><a routerLink="/register"><button label="Register" pButton type="button" icon="fa-gear" iconPos="left"></button></a></li>
        <li *ngIf="!authService.isAuthenticated"><button pButton type="button" label="Login" (click)="showLoginDialog()" icon="fa-sign-in" iconPos="left"></button></li>
        <li *ngIf="authService.isAuthenticated"><button pButton type="button" label="Logout" (click)="authService.logout()" icon="fa-sign-out" iconPos="left"></button></li>
      </ul>
    </div>
  </div>
</div>

<div class="ui-g ui-g-nopad">
  <div class="ui-g-2 ui-g-nopad" id="sidegutter">
    <div id="sidenav">
      <p-panelMenu #bigMenu [model]="menuItems"></p-panelMenu>
    </div>
  </div>
  
  <div class="ui-g-2 ui-g-nopad" id="minigutter">
    <div id="sidenav-mini">
      <p-panelMenu #smallMenu [model]="miniMenuItems"></p-panelMenu>
    </div>
  </div>
  
  <div id="content-body" class="ui-g-10 ui-g-nopad">
    <router-outlet></router-outlet>
    <hr>
    Robot icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>

  <p-dialog header="Login" [(visible)]="displayLoginDialog" [modal]="true" [closable]="false" [showHeader]="false">
    <!-- TODO: Fix the spacing here -->
    <!-- TODO: Start with the focus in the username box when opened -->
    <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input type="text" [(ngModel)]="loginData.username"  pInputText placeholder="Username">         
    </div>
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
      <input type="password" name="password" [(ngModel)]='loginData.pwd' pInputText placeholder="Password">   
    </div>
    <div class="loginError" *ngIf="this.errorMessage">
      Login failed: {{errorMessage}}
    </div>
    <p-footer>
      <!-- TODO: Make return in the password box automatically try to login -->
      <button pButton type="button" label="Login" (click)="login()"></button>
      <button pButton type="button" label="Cancel" (click)="hideLoginDialog()"></button>
    </p-footer>
  </p-dialog>
</div>
