<div class="ui-g">
  <div class="content-section introduction">
    <div>
      <span class="feature-title">Factoids</span>
      <span>Search the factoid database</span>
    </div>
  </div>

  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
<!--            <input [(ngModel)]='searchString' type="text" pInputText placeholder="Enter search string">         
-->
            <input [value]='searchString' (keyup)="term$.next($event.target.value)" type="text" pInputText placeholder="Enter search string">
          </div>
    </div>
  </div>

  <p-dataTable [value]="factoids" class="ui-g-12">
    <p-column field="item" header="Factoid" [style]="{'overflow':'hidden'}"></p-column>
    <p-column field="value" header="Value" [style]="{'overflow':'auto'}" ></p-column>
    <p-column field="nick" header="Set by" [sortable]="true"></p-column>
  </p-dataTable>
</div>
