<div class="ui-g">
  <div class="header ui-g-12">
    <h2>
      Factoids
    </h2>
    <h3>Search through gthx's database of factoids to find one
      you're interested in.
    </h3>
  </div>

<!--
  <div class="rounded-box">
      <form>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input [(ngModel)]='searchString' type="text" class="form-control" name="search" placeholder="Enter search string">
          </div>
      </form>
    </div>
  </div>
-->

  <p-dataTable [value]="factoids" class="ui-g-12">
    <p-column field="item" header="Factoid"></p-column>
    <p-column field="value" header="Value"></p-column>
    <p-column field="nick" header="Set by" [sortable]="true"></p-column>
  </p-dataTable>
</div>
