body {
    margin: 0;
    min-height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Roboto,Trebuchet MS,Arial,Helvetica,sans-serif;
    font-weight: 400;
    color: #404c51;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link.ui-state-active{
    color: #ffffff;
}

.content-section.introduction {
    background-image: linear-gradient(270deg,#2bc0ec,#1b81d7);
    color: #fff;
    width: 100%;
}

.content-section {
    display: block;
    border-bottom: 1px solid #dde3e6;
    padding: 30px;
    overflow: hidden;
    background-color: #f5f7f8;
}

.content-section:first-of-type>div>span {
    line-height: 1.5em;
}

.feature-title {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}
