<div class="ui-g">
  <div class="content-section introduction">
    <div>
      <span class="feature-title">Gee, Thanks!</span>
      <span>IRC bot for #reprap</span>
    </div>
  </div>

  <div class="ui-g-12">
    gthx is a bot running in
    <a href="irc://irc.freenode.net:6667/reprap">the IRC channel #reprap</a>
    that provides features such as:
    <ul>
      <li>Storing and retrieving factoids</li>
      <li>Keeping track of users and the last messages they sent</li>
      <li>Leaving messages for users who are not currently online</li>
      <li>And more coming soon!!</li>
    </ul>

    Please <a href="mailto:support@gthx.net">send an email</a>
    with any comments or suggestions!
  </div>
</div>