<div class="container">
  <header class="jumbotron masthead" id="overview">
    <div class="inner">
      <div class="container">
        <h1>Gee, Thanks!</h1>
        <p class="lead">
          gthx is a bot monitoring #reprap that automatically takes
          over when kthx crashes. gthx lets you:
        </p>
        <ul>
          <li>Store and retrieve factoids</li>
          <li>See the last message a user sent</li>
          <li>Leave messages for users when they're not currently online</li>
          <li>And more coming soon!!</li>
        </ul>
      </div>
    </div>
  </header>
  <div class="panel panel-info">
    <div class="panel-heading">Website Status</div>
    <div class="panel-body">
        Please note that this is just a quickly thrown together
        website for gthx in a pre-alpha release state. Most
        things don't work yet, but more features will be coming...
        Please <a href="mailto:support@gthx.net">send an email</a>
        with any comments or suggestions!
      </div>
  </div>
</div>